<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="page-list.view.client.html" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="page-list.view.client.html" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Edit Page
        </a>
    </div>
</nav>


<div class="container-fluid cl-container-padding-top0">
    <form class="cl-form-bottom-padding">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Blog Post" id="name" required>
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Page Title" id="title" required>
    </form>

    <a href="page-list.view.client.html" class="btn btn-danger btn-block">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="profile.html" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>