<nav class="navbar navbar-fixed-top cl-blue-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/profile" class="navbar-link cl-text-white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <a class="cl-text-white navbar-brand cl-text-bold" href="#">
            Admin Views
        </a>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#!/admin/users">Users</a>
        </li>
        <li class="list-group-item">
            Websites
        </li>
        <li class="list-group-item">
            Pages
        </li>
        <li class="list-group-item">
            Widgets
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer-blue.view.client.html'"></div>