<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Widget Edit
        </a>
    </div>
</nav>
<div class="container rt-form-top-padding">
    <label for="widget-text-name">Text</label>
    <input ng-model="model.widgetText"
           class="form-control"
            type="text"
            id="widget-text-name"/>

    <label for="widget-text-Rows">Rows</label>
    <input ng-model="model.widgetRows"
           class="form-control"
           type="number"
            id="widget-text-Rows"/>

    <label for="widget-text-placeholder">placeholder</label>
    <input ng-model="model.widgetPlaceholder"
           class="form-control"
            type="text"
            id="widget-text-placeholder"/>
    <label for="widget-text-formatted">formatted</label>
    <input ng-model="model.widgetFormatted"
           type="checkbox"
            id="widget-text-formatted"/>
    <div>
        <a ng-click="model.createWidget()" class="btn btn-primary btn-block" id="widget-html-create-btn">Create</a>
    </div>
</div>

