<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">

        <div class="navbar-text pull-left">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
        <a class="navbar-brand cl-text-white cl-text-bold" href="#">
            Widget Edit
        </a>
    </div>
</nav>


<div class="container-fluid cl-container-padding-top0">
    <ul class="list-group cl-list-group-borderless">
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADING">Header</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/LABEL">Label</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/HTML">HTML</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/TEXT">Text</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/LINK">Link</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#/website/{{model.wid}}/page/{{model.pid}}/widget/create/BUTTON">Button</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/IMAGE">Image</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/YOUTUBE">YouTube</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/DATATABLE">Data Table</a>
        </li>
        <li class="list-group-item cl-list-item-borderless">
            <a href="#!/website/{{model.wid}}/page/{{model.pid}}/widget/create/REPEATER">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="pull-right navbar-text">

            <a href="#!/profile" class="tv-icon-padding">
                <span class="glyphicon glyphicon-user"></span>
            </a>

        </div>
    </div>
</nav>